#verification-1a {
	top: 1.7%;
	left: 7.1%;
	width: 25.3%;
}

#verification-1b {
	top: 10.4%;
	left: 14.6%;
	width: 18.1%;
}

#verification-1c {
	top: 21.8%;
	left: 20.5%;
	width: 11.3%;
}




#verification-2a {
	top: 1.8%;
	left: 46.2%;
	width: 46.3%;
}

#verification-2b {
	top: 10.1%;
	left: 51.8%;
	width: 46.3%;
}

#verification-2c {
	top: 20.5%;
	left: 51.8%;
	width: 41.3%;
}

#verification-2d {
	top: 29.7%;
	left: 51.8%;
	width: 38.3%;
}

#verification-2e {
	top: 41.1%;
	left: 51.8%;
	width: 46.3%;
}

#verification-2f {
	top: 51.3%;
	left: 52.2%;
	width: 45.3%;
}



#verification-3a {
	top: 31.1%;
	left: 1.1%;
	width: 31.3%;
	color: #2e3645;
	text-align: center;
}

#verification-3b1 {
	top: 39.3%;
	left: 10.9%;
	width: 21.5%;
	color: #2e3645;
}

#verification-3b2 {
	top: 41.8%;
	left: 10.9%;
	width: 21.5%;
	color: #b3b3b3;
}

#verification-3c1 {
	top: 46.1%;
	left: 10.9%;
	width: 21.5%;
	color: #2e3645;
}

#verification-3c2 {
	top: 48.6%;
	left: 10.9%;
	width: 21.5%;
	color: #b3b3b3;
}

#verification-3d {
	top: 55.1%;
	left: 10.9%;
	width: 21.5%;
	color: #2e3645;
}

#verification-3e {
	top: 62.6%;
	left: 10.9%;
	width: 21.5%;
	color: #2e3645;
}



#verification-4a {
	top: 62.6%;
	left: 40.3%;
	width: 26.5%;
	color: #b3b3b3;
}

#verification-4b {
	top: 62.6%;
	left: 74.3%;
	width: 23.5%;
	color: #b3b3b3;
}


#verification-5 {
	top: 81%;
	left: 45.3%;
	width: 37.5%;
}

#verification-6 {
	top: 94.2%;
	left: 17%;
	width: 65.5%;
	color: #2e3645;
	text-align: center;
}